@import "helpers";

.document-description {
  height: 50px;
  overflow-y: scroll;
}

.content-holder {
  height: 500px;
  overflow-y: scroll;
}

.ui.card {
  .ui.content {
    padding-bottom: 0;
  }
  .meta {
    font-family: $indie-flower
  }
}

.ui.huge.header {
  font-family: $baloo-bhaijaan;
  color: $project-gray;
}