@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Butterfly+Kids|Indie+Flower|Short+Stack');

@mixin set-background {
  background: $alice-blue;
}

$indie-flower: "Indie Flower";
$project-gray: #696969;
$white: #ffffff;
$blue: #2185d0;
$alice-blue: #f0f8ff;
